<%- include('../../../../app/views/shared/header') %>
<%- include('../../../../app/views/shared/simple_nav') %>
<% 
  const capitalize = periodic.viewHelper.capitalize;
  // console.log({locals})
 %>
  <main>
    <article>
        <% if(locals.notification){%>
          <section>
            <input value="<%- locals.notification %>" disabled readonly style="width: 100%;
              font-size: 120%;
              margin: 0rem 0rem 1rem;
              padding: 1rem;
              background: whitesmoke;
              box-sizing: border-box;
              border: 1px solid lightgray;"/>
          </section> 
        <%}%>
        <section>
          <h3>Complete your account registration</h3>
        </section>
        <section>
          <form action="<%- completePost %>" method="post" autocomplete="off" >
            <input type="hidden" name="_csrf" value="<%- token %>"/>
            <input type="hidden" name="entitytype" value="<%- entityType %>"/>
              <%if(locals.missingActivation){%>
              <label>Activation token</label>
              <input type="activation_token" name="activation_token" value="<%- (locals.request.query.activation_token) ? locals.request.query.activation_token:'' %>" placeholder="activation token"/>
              <%}%>
              <% if (locals.missingProps.length){
                  locals.missingProps.forEach(missingProp=>{
                    if(missingProp==='password'){%>
                      <input type="password" placeholder="password" name="password"/>
                      <input type="password" placeholder="confirm password" name="confirmpassword"/>
                    <%} else { 
                    let missingPropPlaceholder =  (missingProp === 'name') ? 'username':missingProp; %>
                      <input type="text" placeholder="<%- missingPropPlaceholder %>" name="<%- missingProp %>"/>
                    <% }
                  });
                } %>
            <section>
              <button type="submit" style="justify-content: center">Complete Registration</button>
            </section>
          </form>
          <form action="<%- activatePost %>" method="post" autocomplete="off" >
            <section>
              <button type="submit" style="justify-content: center">Resend Activation</button>
            </section>
          </form>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>