<%- include('../../../../app/views/shared/header') %>
<%- include('../../../../app/views/shared/simple_nav') %>
<% //console.log(locals.entityType)
  const capitalize = periodic.viewHelper.capitalize;
 %>
  <main>
    <article>
        <section>
          <h3>Login <%-(locals.entityType!=='account')?'<span style="font-weight:normal">User</span> | <a href="'+locals.loginPaths.account_auth_login+'">Account</a>':'<a href="'+locals.loginPaths.user_auth_login+'">User</a> | <span style="font-weight:normal">Account</span>'%></h3>
        </section>
        <section>
          <form method="post" action="<%- loginPost %>">
            <input type="hidden" name="_csrf" value="<%- token %>"/>
            <input type="hidden" name="entitytype" value="<%- entityType %>"/>
            <input type="text" placeholder="username" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <section>
              <button type="submit">Login</button>
              <a type="button" href="<%- registerPost %>">Create <%- capitalize(entityType) ||'User' %></a>
            </section>
          </form>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>