<%- include('../../../../app/views/shared/header') %>
<%- include('../../../../app/views/shared/simple_nav') %>
<% //console.log(locals)
 %>
  <main>
    <article>
        <section>
          <h3>Create <%- locals.entitytype %></h3>
        </section>
        <section>
          <form method="post" action="<%- registerPost %>">
            <input type="hidden" name="_csrf" value="<%- token %>"/>
            <input type="text" placeholder="username" name="username"/>
            <input type="text" placeholder="email" name="email"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="password" placeholder="confirm password" name="confirmpassword"/>
            <section>
              <button type="submit">Create Account</button>
              <a type="button" href="<%- loginPost %>">Login</a>
            </section>
          </form>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>