<%- include('../../../../app/views/shared/header') %>
<%- include('../../../../app/views/shared/simple_nav') %>
<% /* console.log(locals) */ %>
  <main>
    <article>
        <% if(locals.notification){%>
          <section>
            <input value="<%- locals.notification %>" disabled readonly style="width: 100%; font-size: 120%; margin: 0rem 0rem 1rem; padding: 1rem; background: whitesmoke; box-sizing: border-box; border: 1px solid lightgray;"/>
          </section> 
        <%}%>
        <section>
          <h3>Reset Password</h3>
        </section>
        <section>
          <form method="post" action="<%- resetPost %>/<%- request.params.token %>">
            <input type="hidden" name="_csrf" value="<%- token %>"/>
            <input type="hidden" name="entitytype" value="<%- entitytype %>"/>
            <input type="password" placeholder="password" name="password"/>
            <input type="password" placeholder="confirm password" name="confirmpassword"/>
            <section>
              <button type="submit" style="justify-content: center">Reset</button>
              <a type="button" href="<%- loginPost %>" style="justify-content: center">Login</a>
            </section>
          </form>
        </section>
    </article>
  </main>
<%- include('../../../../app/views/shared/footer') %>